### Ejercicio 7 (Intro cálculo de edades)

Utilizando Pandas y NumPy, calcular las edades para cada asegurado del colectivo incluido en el fichero *colectivo.csv*, a la fecha de valoración 31-12-2023.

In [2]:
import pandas as pd
import numpy as np
#from utils import censo

f_val = pd.to_datetime('2024-12-31')
#censo

In [2]:
df['Fnac'] = pd.to_datetime(df['Fnac'], format='%d/%m/%Y')
df

                 Nombre       Fnac  Importe
0  Rosendo Mercado Ruiz 1954-02-23     1000
1       Rafael J. Vegas 1965-06-06     1000
2  Mariano Montero Arce 1969-12-06     1000

In [3]:
df['Edad'] = np.rint((f_val - df['Fnac']).dt.days / 365.2425)
df

                 Nombre       Fnac  Importe  Edad
0  Rosendo Mercado Ruiz 1954-02-23     1000  70.0
1       Rafael J. Vegas 1965-06-06     1000  59.0
2  Mariano Montero Arce 1969-12-06     1000  54.0

### Edad cumplida

In [4]:
def EdReal(fechanac, fval):
    edad = fval.year - fechanac.year - ((fval.month, fval.day) < (fechanac.month, fechanac.day))
    return edad

In [5]:
df['EdadCumplida'] = df['Fnac'].apply(lambda x: EdReal(x, f_val))
df

                 Nombre       Fnac  Importe  Edad  EdadCumplida
0  Rosendo Mercado Ruiz 1954-02-23     1000  70.0            69
1       Rafael J. Vegas 1965-06-06     1000  59.0            58
2  Mariano Montero Arce 1969-12-06     1000  54.0            54